<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autobar - { aktstranka }</title>
</head>
<body>
    <h1>AftoBazar</h1>
    <nav>
        <a href="">Domov</a>
        <a href="">Prodej vozu</a>
        <a href="">Vykup vozu</a>
        <a href="">Kongtakt</a>
    </nav>
    <h2>AftoBazar Přerom</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit explicabo quia soluta ea repellendus porro sequi rerum, delectus nihil nam. Eaque inventore vitae optio maxime! Eum tempore iure natus praesentium. Jak se ve výeskoudu zapíná zalamování řádků? Je-li zde možnost zalomit či nezalomit</p>
</body>
</html>